@use "../styles/abstracts/functions" as media;

.section__spending {
  background: #FFFBF6;
  padding: 26px 20px 24px;
}

.section__spending__inner {
  border-bottom: 2px solid #F8E9DD;
  padding-bottom: 18px;
}

.heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #382314;
  margin-bottom: 52px;
}

.expenses__list {
  justify-content: space-between;
  border-radius: 1px;
  height: 147px;
  display: flex;
  gap: 12px;
  align-items: flex-end;
}